#container {
    width: 100%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    padding: 10px;
    margin-bottom: 10px;
}

.center {
  margin: auto;
  width: 70%;
  border: 3px solid #73AD21;
  padding: 10px;
}

p {
  font-family: 'Nanum Gothic', sans-serif;

}