#container {
    width: 100%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

header, footer {
    padding: 1em;
    color: black;
    background-color: #BDBDBD;
    clear: left;
    text-align: center;
    margin: auto;
    border-radius: 15pt;
}

.center {
  margin: auto;
  width: 70%;
  border: 3px solid #73AD21;
  padding: 10px;
  border-radius: 15pt;
}

p {
  font-family: 'Nanum Gothic', sans-serif;

}